<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>PSGAPP - {{ pageTitle }}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <meta name="theme-color" content="purple"/>
    <meta name="description" content="psgapp">
    <meta name="author" content="SalimTech">
    <meta name="keywords" content="psgapp">
    <meta name="robots" content="all">
    <meta property="og:title" content="PSGAPP">
    <meta property="og:description" content="PSGAPP">
    <meta property="og:image" content="https://psgapp.pythonanywhere.com/static/images/psgapp.png">
    <meta property="og:image:width" content="800">
    <meta property="og:image:height" content="600">
    <meta property="og:image:alt" content="logo">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="PSGAPP">
    <meta name="twitter:description" content="PSGAPP">
    <meta name="twitter:image" content="https://psgapp.pythonanywhere.com/static/images/psgapp.png">
    <meta name="twitter:image:width" content="800">
    <meta name="twitter:image:height" content="600">
    <meta name="twitter:image:alt" content="logo">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/psgapp.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mytoast.css') }}"/>
    {% block style_lib %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" integrity="sha512-XJ3ntWHl40opEiE+6dGhfK9NAKOCELrpjiBRQKtu6uJf9Pli8XY+Hikp7rlFzY4ElLSFtzjx9GGgHql7PLSeog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    {% block style %}{% endblock %}
</head>
<body class="mobile-open">
<div class="loading">
        <span class="fa-stack fa-lg tada animated infinite" style="position: absolute">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
        </span>
    <i class="fa fa-spinner fa-pulse fa-4x" style="color: #fff"></i>
</div>
<div class="page-wrapper">
    <div class="side-flow" id="aside"></div>
    <aside>
        <div class="side-header">
            <br>
            <img src="{{ url_for('static', filename='images/psgapp.png') }}" alt="site logo" class="img-circle" style="border: #fff 2px solid; height: 50%; background: #fff; outline: #fff 2px solid;" width="40%" id="logo">
            <a href="{{url_for('adminDashboard')}}">PSGAPP</a>
        </div>
        <ul class="side-nav tiny-scroll">
            <li>
                <a href="{{url_for('adminDashboard')}}">
                    <i class="fa fa-dashboard menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#editProfile" data-toggle="modal" data-backdrop="static">
                    <i class="fa fa-edit menu-icon"></i>
                    <span class="menu-title">Update Profile</span>
                </a>
            </li>
            <li>
                <a href="#editPassword" data-toggle="modal" data-backdrop="static">
                    <i class="fa fa-edit menu-icon"></i>
                    <span class="menu-title">Change Password</span>
                </a>
            </li>
            <li>
                <a href="{{url_for('adminLogout')}}">
                    <i class="fa fa-sign-out menu-icon"></i>
                    <span class="menu-title">Logout</span>
                </a>
            </li>
        </ul>
        <div class="side-footer">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                <span id="copyYear"></span> &copy; &nbsp;<i>(PSGAPP)</i>
            </span>
        </div>
    </aside>
    <nav>
        <div class="nav-btn">
            <button class="hidden-xs hidden-sm s_icon" id="toggle"><i class="fa fa-bars"></i></button>
            <button class="hidden-md hidden-lg s_icon" id="mobile"><i class="fa fa-bars"></i></button>
        </div>
        <h3 class="app-name">PSGAPP</h3>
        <a href=""><i class="fa fa-power-off"></i></a>
    </nav>
    <main class="body-wrapper">
        {% block content %}{% endblock %}
    </main>
</div>

<script src="{{ url_for('static', filename='js/jquery-2.2.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% include 'notify.html' %}
{% block script_lib %}{% endblock %}
<script>
    $(document).ready(function () {
        var dd = new Date();
        $('#copyYear').text(dd.getFullYear());
    });
    var startY;
    var threshold = 150; // Minimum distance to trigger refresh (in pixels)
    $("body").on("touchstart", function (e) {
        startY = e.originalEvent.touches[0].pageY;
    }).on("touchmove", function (e) {
        var distance = e.originalEvent.touches[0].pageY - startY;
        if (distance > threshold) {
            $(".loading").show();
        } else {
            $(".loading").fadeOut("slow");
        }
    }).on("touchend", function (e) {
        var distance = e.originalEvent.changedTouches[0].pageY - startY;
        if (distance > threshold) {
            // Perform your refresh action here
            location.reload(); // For example, reload the page
        }
        $(".loading").fadeOut("slow");
    });
</script>
{% block script %}{% endblock %}
</body>
</html>